.header{
  display: flex;
  background-color: rgb(237, 44, 44);
  color: white;
  padding: 3px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.card{
  display: flex;
  padding: 15px;
  height: 173px;
  gap: 10px;
}

.card--image{
  height: 163px;
  width: 108px;
  object-fit: fill;
  border-radius: 10px;
  margin-top: 10px;
}

.card--des{
  display: flex;
  flex-direction: column;
}

.card--logo{
  color: rgb(246, 66, 66);
}
.card--title{
  font-size: larger;
  margin-bottom: 10px;
}

.card--header{
  display: flex;
  height: 34px;
  align-items: first baseline;
  gap: 3px;
}

.card--link{
  color: rgb(171, 167, 167);
  margin-left: 5px;
}

.bold{
  font-weight: bold;
}

.card--dates{
  font-size: small;
}

.card--text{
  font-size: small;
}